{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'bs/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'bs/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bs/js/bootstrap.bundle.min.js' %}"></script>
    <link href="{% static 'bs/css/custom_home_page.css' %}" rel="stylesheet">

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">WAWBOOKS</a><br>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/catalog">Catalog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'catalog:genre_groups' %}">Genres</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'references:houses_list' %}">Publishing houses</a>
              </li>
              <li class="nav-item">
                {% if user.is_authenticated %}
                <a class="nav-link active" href="{% url 'profile:profile_view' %}">Profile</a>
                {% endif %}
              </li>
              {% if perms.product_card.view_book%}
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'admin_portal:admin_portal' %}">Administrative portal</a>
          </li>
          {% endif %}
            </ul>
            
              <form action="{% url 'search_results' %}" method="get" class="d-flex" role="search">
                <input name="q" type="text" class="form-control me-2" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success me-4" type="submit">Search</button>
              </form>
    
            <li style="list-style-type: none">
            {% if user.is_authenticated %}
      <span class="navbar-text mr-2">{{ user }}</span>
      <a href="/logout" class="btn btn-outline-light"><i class="bi bi-door-closed"></i></a>
    {% else %}
      <a href="{% url 'home_page:login' %}" class="btn btn-outline-light">Login</a>
      <a href="{% url 'home_page:register' %}" class="btn btn-outline-light">Sign up</a>
    {% endif %}
    <a href="{% url 'carts:cart_edit' %}" class="btn btn-outline-light"><i class="bi bi-cart"></i></a>
  </li>
          </div>
        </div>
      </nav>
    </header>
  
  <main>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
            <image src="https://phonoteka.org/uploads/posts/2022-02/thumbs/1645250731_56-phonoteka-org-p-mnogo-knig-fon-60.jpg" alt="books" width="100%" height="100%" border="1">
  
          <div class="container">
            <div class="carousel-caption text-start">
              <h1>Order a book for your soul today.</h1>
              <p>Sign up in two clicks. </p>
              <p><a class="btn btn-lg btn-primary" href="register/">Sign up now</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
            <image src="https://phonoteka.org/uploads/posts/2022-02/thumbs/1645250816_53-phonoteka-org-p-mnogo-knig-fon-57.jpg" alt="books" width="100%" height="100%" border="1">  
          <div class="container">
            <div class="carousel-caption">
              <h1>A huge number of books to suit all tastes.</h1>
              <p>Still not shure what to choose? It's not a problem, we have a big choise. </p>
              <p><a class="btn btn-lg btn-primary" href="catalog/">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
            <image src="https://phonoteka.org/uploads/posts/2022-02/1645250782_20-phonoteka-org-p-mnogo-knig-fon-22.jpg" alt="books" width="100%" height="100%" border="1">
  
          <div class="container">
            <div class="carousel-caption text-end">
              <h1>Any genre you want.</h1>
              <p>We are sure to find you a book of any genre.</p>
              <p><a class="btn btn-lg btn-primary" href="{% url 'catalog:genre_groups' %}">Learn more</a></p>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  
  
    <div class="container marketing">
      
      {% if random_author %}
      <div class="row">
        <h2 class="fw-normal col-lg-7">
          One of the authors featured on our site. Look at the catalogue of available books and make sure on your own example that this author is worthy of your attention:
        </h2>
        <div class="col-lg-4">
          <h2 class="fw-normal">{{ random_author.name }} {{random_author.surname}}</h2>
          <p>{{ random_author.description }}</p>
          <p><a class="btn btn-secondary" href="{% url 'catalog:catalog' %}">View catalog &raquo;</a></p>
        </div>
      </div>
        {% else %}

        <p class="lead">No authors available yet.</p>

        {% endif %}
  

      <hr class="featurette-divider">
      {% if new_book %}
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">Just a new one. <span class="text-muted">It’ll blow your mind.</span></h2>
          <p class="lead">{{ new_book.description }}</p>
          <div>
            <a href={% url "catalog:book_detail" pk=new_book.pk %} class="btn btn-outline-success me4">Get it now!</a>
          </div>
        </div>
        <div class="col-md-5">
            
            <img src="{{ new_book.image.url }}" alt="New book image" width="350" height="400" border="1">
            
        </div>
      </div>
      {% else %}

      <p class="lead">No books available yet.</p>

      {% endif %}
  
      <hr class="featurette-divider">
      
      {% if awesome_book %}
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">Oh yeah, the most popular book. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead"> {{ awesome_book.description }} </p>
          <div>
            <a href={% url "catalog:book_detail" pk=awesome_book.pk %} class="btn btn-outline-success me4">Get it now!</a>
        </div>
        </div>
        <div class="col-md-5 order-md-1">
                <img src="{{ awesome_book.image.url }}" alt="The passenger" width="350" height="400" border="1">
            </div>
          </div>
          {% else %}

          <p class="lead">No books available yet.</p>
    
          {% endif %}
  
      <hr class="featurette-divider">
      
      {% if history_book %}
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">We recommend. <span class="text-muted">Check it out.</span></h2>
          <p class="lead"> {{ history_book.description }} </p>
          <div>
            <a href={% url "catalog:book_detail" pk=history_book.pk %} class="btn btn-outline-success me4">Get it now!</a>
          </div>
        </div>
        <div class="col-md-5">
                <img src="{{ history_book.image.url }}" alt="The secret History" width="350" height="400" border="1">
                </div>
          </div>
          {% else %}

          <p class="lead">No books available yet.</p>
    
          {% endif %}
  
      <hr class="featurette-divider">
    </div>
  
  
    <footer class="py-3 my-4">
        <div class="shadow p-3 mb-5 bg-body rounded">
        <div class="container">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="{%url 'home_page:shipping_info'%}" class="nav-link px-2 text-muted">Shipping</a></li>
            <li class="nav-item"><a href="{%url 'home_page:about_info'%}" class="nav-link px-2 text-muted">About</a></li>
            </ul>
          <p class="text-center">&copy; 2022</p> 
          <p class="text-center"><a href="https://github.com/LeatherDiamond" target="_blank"><img src="/media/uploads/2023/03/03/photo_2023-08-22_12-32-39.jpg"  style="height: 50px; width: 100px;"></p></a>
        </div>
        </div>
    </footer>
  </main>  
        
    </body>
  </html>
  
